.container {
    max-width: 9500px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around !important;
    flex-direction: row;
    padding: 3%;
}

button {
    background-color: #8FADBF ! important;
    border: 1px solid #42708C ! important;
    border-radius: 5px;
    margin-top: 5px;
    margin: 0 auto;

}

.chord-machine {
    border: 2px white solid;
    padding: 3%;
    padding-top: 10%;
}

