.create-container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 5px;
    padding: 5% !important;
    display: flex;
    justify-content: space-evenly !important;
    align-items: end;
    flex-direction: row;
    bottom: 0%;
}

.tuning-fork {
   margin-top: 5rem;
   border: 2px white solid;
   padding: 3%;
}

.sprite {
    margin-top: 5rem;
 
}

.bowl {
    margin-right: 20%;
    margin-left: 5%;
    border: 2px white solid;
    padding: 3%;
}

#create-desc{
     max-width: 20rem;
     color: white;
     
 }

button {
    background-color: #8FADBF ! important;
    border: 1px solid #42708C ! important;
    border-radius: 5px;
    margin-top: 5px;
    margin: 0 auto;

}

