button.add-button {
    display: inline-block;
    border-radius: 360px !important;
    background-color: green !important;

}

figure {
    position: relative;
}

h6, h4, figcaption {
    color: #ffffff;
}

.container {
    flex-wrap: wrap;
}

.col.header {
    margin: 0 auto 2rem;
    text-align: center;
    width: 100%;
}

.sounds-wrapper {
    width: 100%;
    max-width: 1130px;
    margin: 0 2rem;
}

.square {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sound-tile {
    width: calc(33.3333% - 2rem);
}

@media(max-width: 1200px) {
    .sound-tile {
        width: calc(50% - 2rem);
    }
}

@media(max-width: 1000px) {
    .sound-tile {
        width: fit-content;
        margin: 0 auto;
    }
}

footer {
    display: block;
    position: relative;
}