.favorites-container {
    overflow:auto;
    padding-bottom:150px;
    position: relative;
}

.delete-button {
    display: inline;
    border-radius: 360px !important;
    position: absolute;
    bottom: 15px;
    left: 310px;
    background-color: red !important;
    font-family: 'Pacifico', cursive;
}

h1 {
    color: #ffffff !important;
}

.sounds-wrapper {
    width: 100%;
    max-width: 1130px;
    margin: 0 2rem;
}

.square {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}