.homepage-container {
    margin-top: 50px;
    margin-bottom:15%;

}

.main-img-container {
    position: relative;
}

img {
    height: 350px;
    box-shadow: rgba(0, 0, 0) 0px 5px 20px;
}

.audio-player {
    position: absolute;
    bottom: 125px;
    left: 110px;
    color: #ffffff;
}


.tags {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #ffffff;
    margin-bottom: 20px;
    display: inline-block;
}

.favorite-button {
    position: absolute;
    bottom: 15px;
    right: 100px;
    font-family: 'Pacifico', cursive;
}

Button {
    border-radius: 360px !important;
    background-color: green !important;
}

.music-button-col {
    display: flex;
    justify-content: center;
    width: 100%;
}







 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    img {
        height: 300px;
        width: 415px;
    }

    .audio-player {
        position: absolute;
        bottom: 100px;
        left: 60px;
        color: #ffffff;
    }

    .favorite-button {
        position: absolute;
        bottom: 15px;
        right: 10px;
    }

    .sidebar {
        margin-top: 20px !important;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    img {
        height: 300px;
        width: 525px;
    }

    .audio-player {
        position: absolute;
        bottom: 100px;
        left: 110px;
        color: #ffffff;
    }

    .favorite-button {
        position: absolute;
        bottom: 15px;
        right: 5px;
    }

    .sidebar {
        margin-top: 20px !important;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    img {
        height: 350px;
        width: 600px;
    }

    .audio-player {
        position: absolute;
        bottom: 100px;
        left: 110px;
        color: #ffffff;
    }

    .favorite-button {
        position: absolute;
        bottom: 15px;
        right: 110px;
    }

    .sidebar {
        margin-top: 20px !important;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    img {
        height: 350px;
        width: 600px;
    }

    .audio-player {
        position: absolute;
        bottom: 125px;
        left: 150px;
        color: #ffffff;
    }

    .favorite-button {
        position: absolute;
        bottom: 15px;
        right: 110px;
    }

    .sidebar {
        margin-top: 0px !important;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    img {
        height: 450px;
        width: 800px;
    }

    .audio-player {
        position: absolute;
        bottom: 125px;
        left: 240px;
        color: #ffffff;
    }

    .favorite-button {
        position: absolute;
        bottom: 15px;
        right: 180px;
    }

    .sidebar {
        margin-top: 0px !important;
    }
 } 