.music-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.music-button {
    width: 200px !important;
    box-shadow: rgba(0, 0, 0) 3px 5px 10px;
}

.music-button-link {
    color: #ffffff !important;
    text-decoration: none !important;
}