:root {
    --darkblue: #42708C;
    --grayblue: #8FADBF;
    --tan: #C5D1D9;
    --peach: #024059;
    --coral: #010000;
}


#footer-id {
    background-color: var(--grayblue);
    position: fixed;
    bottom: 0;
    max-height: 10%;
}



.links {
    display: flex;
    justify-content: center;
}

.icon {
    color: var(--tan) !important;
}

.icon:hover {
    color: var(--coral) !important;
}

.copyright {
    text-align: center;
    margin-top: 10px;
    color: var(--tan);
}

p {
    margin-bottom: 0 !important;
}